<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SignUpFillter</filter-name>
        <filter-class>user.SignUpFillter</filter-class>
    </filter>
    <filter>
        <filter-name>ChangePassFilter</filter-name>
        <filter-class>user.ChangePassFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignInFillter</filter-name>
        <filter-class>user.SignInFillter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignInFillter</filter-name>
        <servlet-name>SignInServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ChangePassFilter</filter-name>
        <servlet-name>UpdateUserServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignUpFillter</filter-name>
        <servlet-name>AddUserServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassUserServlet</servlet-name>
        <servlet-class>servlet.ChangePassUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>user.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControlServlet</servlet-name>
        <servlet-class>servlet.SearchControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>servlet.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateControl</servlet-name>
        <servlet-class>servlet.CateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>servlet.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartShow</servlet-name>
        <servlet-class>servlet.CartShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellControl</servlet-name>
        <servlet-class>servlet.SellControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStock</servlet-name>
        <servlet-class>servlet.ShowStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassUserServlet</servlet-name>
        <url-pattern>/ChangePassUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControlServlet</servlet-name>
        <url-pattern>/SearchControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateControl</servlet-name>
        <url-pattern>/CateControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartShow</servlet-name>
        <url-pattern>/CartShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellControl</servlet-name>
        <url-pattern>/SellControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStock</servlet-name>
        <url-pattern>/ShowStock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
